{% extends 'materials/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
        </div>
        <img src="{{ object.image | media_filter }}" alt="Material Image" class="img-fluid">
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
            <div class="card-body">
                <p>{{ object.contents }}</p>
            </div>
            <a href="#">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Пройти тестирование</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}