{% extends 'materials/base.html' %}
{% block content %}
{% load my_tags %}

<div class="row text-center">
    <div class="col-12">
        <h3 class="my-0 font-weight-normal mb-4">{{ material }}</h3>
    </div>
    {% for question in questions %}
    <div class="col-12 text-left">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p>{{ question.id }}. {{ question.question }}</p>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ question.id }}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault1" value="{{ question.answer_right }}">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{ question.answer_right }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault2" value="{{ question.answer_wrong_1 }}">
                        <label class="form-check-label" for="flexRadioDefault2">
                            {{ question.answer_wrong_1 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault3" value="{{ question.answer_wrong_2 }}">
                        <label class="form-check-label" for="flexRadioDefault3">
                            {{ question.answer_wrong_2 }}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" id="flexRadioDefault4" value="{{ question.answer_wrong_3 }}">
                        <label class="form-check-label" for="flexRadioDefault4">
                            {{ question.answer_wrong_3 }}
                        </label>
                    </div>
                    <button class="btn btn-primary mt-2">Ответить</button>
                </form>
<!--                {% for answer in question.answers_list %}-->
<!--                    Ответ пользователя: {{ answer }}-->
<!--                {% endfor %}-->
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}